body
{
    
}
.font-face 
{
  font-family: 8BitWonder;
  src: url(../../ressources/font/bit.TTF);
}
.h2, h1, p, div, a, h6
{
	font-family : OCR A Std, monospace;
	color : white;
	color 					: black;
	text-shadow				: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h1
{
    font-size: 42px;
    margin-top : -5px;
	margin-bottom: 10px;
}
h6
{
	margin-top: -10px;
}


.rule
{
	margin-top : 25px;
	margin-bottom : 35px;
}

header
{
     background-color: black;
}

footer
{
    padding-top: 10px;
    background-color: black;
    margin-bottom: -10px;
}

@media screen and (max-width: 1000px)
{
        header
        {
             background-color: white;
        }

        footer
        {
            padding-top: 10px;
            background-color: white;
            margin-bottom: -10px;
        }
}