table, th, td
{
  border				: 1px solid black;
}
table
{
	margin-bottom		: 42px;
}
td
{
    margin-left			: 25%;
    width				: 15%;
}
th
{
    background-color	: dimgrey;
    color				: white;
}
.descriptiontaille
{
    width				: 60%;
}
td:nth-child(1)
{
	background-color	: #E0E0E0;
}
