/* Affect all the using page */
body
{
    float           : left;
    margin-left     : 10%;
    margin-right    : 10%;
    width           : 80%;    
}

/* Affect the physical part of the page */
section
{
    margin-top      : -15px;
    font-family     : serif;
    text-align      : justify;
    border-style    : hidden;
    width           : 74%;
    display         : block;
    float           : left;
}

/* Affect the informative part of the page */
aside
{  
    float           : right;
    margin-right    : 10px;
}