/* Affect all the using page */
body
{
    float           : left;
    margin-left     : 10%;
    margin-right    : 10%;
    width           : 80%;
}

/* Affect the physical part of the page */
section
{
    margin-top      : -15px;
    font-family     : serif;
    text-align      : justify;
    border-style    : hidden;
    width           : 74%;
    display         : block;
    float           : left;
    flex-direction  : row;
}

/* Affect the informative part of the page */
aside
{
    margin-right    : 10px;
    float           : right; 
    flex-direction  : column;
}
/* Put a shadow to a form */
.shadow
{
    box-shadow      :  2px 2px 16px 0 rgba(0.1, 0.1, 0.1, 0.40);
}

/* Affect lines of a table */
.sth
{
    background-color: orangered; 
    color           : white; 
    text-align      : left;
    padding         : 7px;
    font-weight     : bold;
    font-family     : "Roboto Slab", Roboto, serif;
}

/* Affect lines of a table */
.str
{
     padding        : 7px;
}
.sstr
{
    padding-left    : 7px;
    padding-right   : 7px;
    padding-bottom  : 7px;
}

/* Set specifies settings for table  of rules*/
.specifications
{     
    border				:  1px solid black;
}
.specifications th
{
    background-color	: dimgrey;
    color				: white;
    border				: 1px solid black;

}
.specifications td
{
    margin-left			: 25%;
    width				: 10%;
    border				: 1px solid black;
}

.tdfirst
{
   background-color		: dimgrey;
    color				:  white;
}
.resposivetable
{
     overflow-x			: auto;
}
table:nth-child(1) tr:nth-child(2n)
{
	background-color	: #E0E0E0;
}


@media screen and (max-width: 468px)
{
    body
    {
        flex-direction  : column;
        margin: 0;
        width: 100%;
    }
    
    h2
    {
        margin-top: 28pt;
    }
    

    table:nth-child(1)
    {
        font-size: 9px;
    }

}


@media screen and (max-width: 1480px)
{
    section
    {
        width           : 97%;
        margin-right    : 2%; 
    }
    aside
    {
        float           : left; 
        margin-left     : 2%; 
        margin-bottom   : 30px; 
    }
}