@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

*
{
    box-sizing      : border-box;
}

body
{
    margin-left     : 10%;
    margin-right    : 10%;
    max-width       : px;
    font-family     : serif;
    text-align      : justify;
    border-style    : hidden;
    border          : 2px 10px 4px 20px;
    box-shadow      :  2px 2px 16px 0 rgba(0.1, 0.1, 0.1, 0.40);
}

section
{
    margin-left     : 2%;
    margin-right    : 2%;  
    padding-bottom  : 50px;
}
main
{
    display         : block;
    margin-bottom   : 100px;

    width           : 75%;
    float           : left;    
}

/* Affect links of the page */
a
{
    color           : orangered;
    text-decoration : none;
}
a::after
{
    color           : orangered;
    text-decoration : none;
}


/* Affect the footer of the page */
footer
{
    background-color: dimgrey;
    position        : relative;
    bottom          : 0;
    padding         : 10px;
    width           : 100%;
    float           : left;
    text-align      : center;
}

/* Affect paragraphs of the page */
p, ol
{
    font-family     : "Calibri Light", serif;
}

ol li
{
   margin-bottom    : 20px; 
}

/* Affect high titles of the page */
h1
{
    color           : white;
    text-align      : center; 
    height          : 100px;
    vertical-align  : text-bottom;
    margin-bottom   : 28px;
    margin-top      : 0;
    background-image: url("../images/Font.PNG");
    font-family     : "Roboto Slab", Roboto, serif;

}

/* Affect medium title of the page */
h2
{
    font-family     : "Roboto Slab", Roboto, serif;
    border-bottom   : 1px solid gainsboro;
    line-height     : 1;
    margin-top      : 30px;
}

/* Affect lists */
ul
{
  list-style-type   : none;
  padding           : 0;
  background-color  : dimgrey;
}

/* Affect lines of lists */
li
{
  float             : left;
}

/* Affect links of lines of lists */
li a 
{
  display           : block;
  color             : white;
  font-family       : Arial, bold;
  text-align        : center;
  padding           : 14px 16px;
  text-decoration   : none;
}

/* Affect the text of the autor */
p.author
{
    width           : 100%;
    font-style      : italic;
    text-align      : right;
    color           : darkgray;
    line-height     : 13px;
    margin-bottom   : 20px;   
    margin-top      : -10px; 
}


/* Affect the header of the page */
.header1
{ 
    background-color: #e64d00
}


/*Dropdown button*/
.navDropdown
{
    overflow        : hidden;
    background-color:dimgray;
    margin-top      : 0px;
    margin-left     : 1%;
}

/* Affect the enable link of the nav */
.active 
{  
     background-color: white
    
}

/* Affect the unenable link of the nav */
.unactive 
{
    color           : white;
  
}

.explain
{
   margin-left      : 50px;  
   font-style       : italic;
}

/* Affect links and class of the nav */
.navDropdown a
{
  float             : left;
  display           : block;
  text-align        : center;
  padding           : 7px 10px;
  text-decoration   : none;
  font-size         : 17px;
  font-weight       : bold;
  font-family       : "Goodlight", sans-serif;
  z-index           : -1;
  margin-left       : 0px;
}

/* Affect the nav when the user pass hover the link */
.navDropdown :hover
{
    background-color: white;
    color           : orangered;
}

/* Affect the hamburger image */
.hamburger 
{
  display           : none;
    text-align      : center;
    background-color: dimgray;
} 



.navDropdown.responsive a 
{
    float           : none;
    display         : block;
    text-align      : center;
}


/* Affect titles */
.title
{
    padding-top     : 60px;
    font-weight     : bold;
}


/*responsive menu*/
@media screen and (max-width: 468px) 
{
    .navDropdown a 
    {
        display: none;
    }
    .hamburger 
    {
        display: block;
        float: center;
    }
}
/*mobile part*/
@media screen and (max-width: 468px)
{
    .navDropdown.responsive
    {
        position: relative;
    }
    .navDropdown.responsive .hamburger 
    {
        position: absolute;
        top: 0;
    }
    
}


@media screen and (max-width: 468px)
{
    body
    {
        flex-direction  : column;
        margin: 0;
    }
    section
    {
        padding-top: 110px;
    }
    /* Affect titles */
    .title
    {
        font-size: 16pt;
        font-weight     : bold;
    }
    
    
    .header1
    { 
       height: 0;
    }
    
    .hamburger
    {
        margin-top: -40px
    }
    .navDropdown
    {
        margin-left     : 0;
    }



    .imgSize
    {
        max-width           : 80px;
    }

    /* Affect sizes of big pictures not too big not too small */
    .imgMap
    {
        width           : 80%;
    }
    /* Handle the size of columns */
    .tdIco
    {
        width           : 50%;
    }
    .full
    {
        width           : 100%;
    }

}

/*mobile part*/
@media screen and (max-width: 829px)
{
    /* Affect titles */
    .title
    {
        padding-top     : 10px;
        font-weight     : bold;
    }
}

